@model FindContactsResult
@using Project.WebUI.HtmlHelpers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInspinia.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Поиск контактов</h2>
        @Html.MvcSiteMap().SiteMapPath()
    </div>
</div>

<div class="wrapper wrapper-content ">
    @Html.PageLinks(Model.PagingInfo, k => Url.Action("Find", new { page = k }))
    <div class="row">
        @*@foreach (var profile in Model.Profiles)
        {
            @Html.Partial("_FindProfile", profile)
        }*@
        <div class="col-lg-4">
            @for (int i = 0; i < Model.Profiles.Count(); i += 3)
            {
                @Html.Partial("_FindProfile", Model.Profiles[i])
            }
        </div>
        <div class="col-lg-4">
            @for (int i = 1; i < Model.Profiles.Count(); i += 3)
            {
                @Html.Partial("_FindProfile", Model.Profiles[i])
            }
        </div>
        <div class="col-lg-4">
            @for (int i = 2; i < Model.Profiles.Count(); i += 3)
            {
                @Html.Partial("_FindProfile", Model.Profiles[i])
            }
        </div>
    </div>
    @Html.PageLinks(Model.PagingInfo, k => Url.Action("Find", new { page = k }))
</div>