@model ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutInspiniaNoMenu.cshtml";
}
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">TM</h1>
        </div>
        <h3>Воостановление пароля</h3>
        <p>
            Введите и подтвердите новый пароль
            <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
        </p>

        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "m-t", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            @Html.HiddenFor(m=>m.Token)
            @Html.HiddenFor(m=>m.UserId)
            <div class="form-group">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Пароль" })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
              <div class="form-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Подтверждение" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <input type="submit" value="Восстановить" class="btn btn-primary block full-width m-b" />
        }
    </div>
</div>
