@model Project.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutInspiniaNoMenu.cshtml";
}
<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">TM</h1>
        </div>
        <h3>Заголовок</h3>
        <p>
            Текстовка
            <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
        </p>
       
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t", role = "form" }))
        {
            @Html.AntiForgeryToken()           
            @Html.ValidationSummary(true)
            <div class="form-group">              
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "UserName" })
                    @Html.ValidationMessageFor(m => m.UserName)               
            </div>
            <div class="form-group">
             
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password)               
            </div>
            <div class="form-group">
              
                    <div class="checkbox i-checks">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
               
            </div> 
            <input type="submit" value="Log in" class="btn btn-primary block full-width m-b" />
        }
        @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
            <a href="@Url.Action("ResetPassword")"><small>Forgot password?</small></a>
            <p class="text-muted text-center"><small>Do not have an account?</small></p> 
            @Html.ActionLink("Register", "Register", null, new { @class = "btn btn-sm btn-white btn-block" }) 
            
      
        <div class="">

           
        </div>

        </div>
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@